body {
  background-color: #000000;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
#dice {
  text-align: center;
  display: inline-block;
}
.shake{
  animation: shake 0.1s infinite;
}
@keyframes shake{
  0%{
      transform: rotate(8deg);
  }
  50%{
      transform: rotate(-8deg);
  }
  100%{
      transform: rotate(8deg);
  }
}
h1 {
  margin: 30px;
  font-family: 'cursive', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #da9630;
}
p {
  font-size: 2rem;
  color: #da9630;
  font-family: 'Indie Flower', cursive;
}
img {
  width: 80%;
}
.wrapper{
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background-color: #fff;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}